* {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 1.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    .row {
        display: flex;
        gap: 0.75rem;

        .box {
            height: 3rem;
            width: 2.5rem;
            border: 2px solid #e4e4e4;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: #222;
        }

        .true {
            background: #07ac7b;
            border: 2px solid #07ac7b;
            color: white;
        }

        .partial {
            background: #e0b825;
            color: white;
            border: 2px solid #e0b825;
        }

        .false {
            background: #aaa;
            border: 2px solid #aaa;
            color: white;
        }
    }
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin-top: 2.5rem;

    .keyboard-row {
        display: flex;
        gap: 0.625rem;

        .key {
            font-size: 1.25rem;
            font-weight: 400;
            color: #333;
            width: 2.25rem;
            display: flex;
            height: 2.625rem;
            background: #eee;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: ease 0.2s;
            border-radius: 0.25rem;
        }
        .key-true {
            background: #00a170;
            color: white;
        }

        .key-false {
            background: #aaa;
            color: white;
        }

        .key-partial {
            background: #e0b825;
            color: white;
        }
        .key-enter {
            background: #1677ff25;
            color: #1677ff;
            width: 3.5rem;
            margin-right: 0.25rem;
            transition: ease 0.2s;

            .go {
                font-size: 0.75rem;
                letter-spacing: 0.25px;
                font-weight: 500;
            }
        }
        .key-enter:hover {
            background: #1677ff;
            color: white;
        }
        .key-backspace {
            width: 2.75rem;
            background: #ff000020;
            color: #ff0000;
            margin-left: 0.125rem;
            transition: ease 0.2s;
        }
        .key-backspace:hover {
            color: white;
            background: #ff0000;
        }
    }
}

.spacer {
    height: 2.5rem;
}

#result {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    max-width: 50vw;
    margin: auto;
    margin-top: 2rem;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
        line-height: 140%;
    }

    button {
        padding: 0.75rem 1rem;
        border: none;
        background: #1677ff;
        color: white;
        border-radius: 0.375rem;
        cursor: pointer;
        transition: ease 0.2s;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.15px;
    }
    button:hover {
        scale: 1.08;
    }
}
